
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button style="color:#af13f7"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movies List
    </ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content >
<ion-slides pager="true" [options]="slideOpts" #mySlider (ionSlidesDidLoad)="slideDidLoad(mySlider)" autoplay="1000" loop="true" speed="3000" >
   <ion-slide>
     <ion-img src="/assets/critic.jpg" (click)="onImage()"></ion-img>
   </ion-slide>
   <ion-slide>
       <ion-img src="/assets/dubbed.jpg"></ion-img>
   </ion-slide>
    
   <ion-slide>
       <ion-img src="/assets/cyborg.jpg"></ion-img>
   </ion-slide>
   <ion-slide>
      <ion-img src="/assets/Alias.jpg"></ion-img>
  </ion-slide>
 </ion-slides><br />

 <ion-grid>
  
     <ion-row style="    margin-bottom: 25px;" *ngFor="let m of movies" >
       <!-- <ion-col col-12 *ngFor="let m of movies"> -->
           <ion-card style="margin:0px;">
            <ion-img   style="    float: left;
            width: 50%;" src={{m.image_url}} (click)="onImage()"></ion-img>
            <p style="    margin-top: 50px;" text-center><b><a button style="color:#af13f7">{{m.name}}</a></b></p>
            <ion-list class="p-l">
              <ion-icon name="star"></ion-icon><ion-icon name="star">
            </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-button class="m-l" (click)="onBooking(m.id)">Book Now</ion-button>
          </ion-list>
           
           </ion-card>           
           <!-- </ion-col> -->
           </ion-row>
           </ion-grid>
           </ion-content>

         
