
<ion-content class="cl" color="" padding> 
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
              <ion-img style="width: 40%;
              margin: 0px auto;"src="/assets/logo.png"></ion-img>
            </div>
        <div text-center>
          <h3 style="color:#fff">Login</h3>
        </div>
        <div padding>
          <ion-item>
              <ion-icon name="contact" padding></ion-icon>
            <ion-input type="text" placeholder="UserName" [(ngModel)]="customer.username" required></ion-input>
          </ion-item><br />
          <ion-item>
              <ion-icon name="lock" padding></ion-icon>
            <ion-input type="password" placeholder="Password" [(ngModel)]="customer.password" required></ion-input>
          </ion-item>
          
          <!-- Checkbox Colors -->
        
              <!-- <p class="t-d" (click)="onForgot()">Forgot Password</p> -->
         
    

        </div><br />
        <div>
          <ion-button style="width: 45%;"size="large"   expand="medium" (click)="onLogin()">SignIn</ion-button>
          <ion-button style="width: 45%;"size="large"  expand="medium" (click)="onRegister()">Rgister</ion-button>
        </div>
        <div>
           
          </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
