<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title style="color:#dd4f37">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="--background: #dd4f37;
      color: #fff;">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" style="--opacity: 1;--background: #dd4f37;
            color: #fff;">
              <ion-icon slot="start" [name]="p.icon" style="--opacity: 1;"></ion-icon>
              <ion-label >
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
