<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-menu-button style="color:#dd4f37"></ion-menu-button>
      </ion-buttons>
      <ion-title style="color:#dd4f37">
          Offers
      </ion-title>
    </ion-toolbar>
  </ion-header> 


 <ion-content>
<ion-slides pager="true" [options]="slideOpts" #mySlider (ionSlidesDidLoad)="slideDidLoad(mySlider)" autoplay="1000" loop="true" speed="3000" >
   
  
  <ion-slide>
    <ion-slide>
      <ion-img src="/assets/special-offer-godotti.gif"></ion-img>
    </ion-slide> 
    <ion-img src="/assets/s3.gif"></ion-img>
    </ion-slide>

  </ion-slides><br />

  <ion-grid>
   
      <ion-row  justify-content-center>
        <!-- <ion-col   align-self-center > -->
            <ion-card style="    margin-bottom: 25px;">
             <ion-img style="    float: left;
             width: 50%;"  src="/assets/mari2.png" ></ion-img>
             
             <p style="    margin-top: 50px;" text-center><b><a button style="color:#dd4f37">Maari 2</a></b></p>
             <ion-list class="p-l">
               <ion-icon name="star"></ion-icon><ion-icon name="star">
             </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
             <ion-icon name="star-outline"></ion-icon>
             <ion-button class="m-l" (click)="onBook()">Book Now</ion-button>
            </ion-list>
            
            </ion-card>           
            <!-- </ion-col> -->

          <!-- <ion-col  align-self-center > -->
            <ion-card style="margin-bottom: 25px;">
              <ion-img style="    float: left;
              width: 50%;" src="/assets/Naa-Peru.jpg"></ion-img>
              <p style="    margin-top: 50px;" text-center><b style="color:#dd4f37">Surya</b></p>
              <ion-list class="p-l">
                  <ion-icon name="star"></ion-icon><ion-icon name="star">
                </ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-button class="m-l" (click)="onBook()">Book Now</ion-button>
              </ion-list>
             
              </ion-card>
            <!-- </ion-col> -->

           
          </ion-row>


          <ion-row  justify-content-center>
              <!-- <ion-col col-6 align-self-center > -->
                  <ion-card style="margin-bottom: 25px;">
                   <ion-img style="    float: left;
                   width: 50%;" src="/assets/Aquaman.jpg"></ion-img>
                   <p style="    margin-top: 50px;" text-center><b style="color:#dd4f37">Aquaman</b></p>
                   <ion-list class="p-l">
                      <ion-icon name="star"></ion-icon><ion-icon name="star">
                    </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half"></ion-icon>
                    <ion-button class="m-l" (click)="onBook()">Book Now</ion-button>
                  </ion-list>
                   
                  </ion-card>            
                   
                <!-- </ion-col> -->
                <!-- <ion-col col-6 align-self-center > -->
   

                    <ion-card style="margin-bottom: 25px;">
                        <ion-img style="    float: left;
                        width: 50%;" src="/assets/cm.jpeg"></ion-img>
                        <p style="    margin-top: 50px;" text-center><b style="color:#dd4f37">Captain Marvel</b></p>
                        <ion-list class="p-l">
                           <ion-icon name="star"></ion-icon><ion-icon name="star">
                         </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                         <ion-icon name="star-outline"></ion-icon>
                         <ion-button class="m-l" (click)="onBook()">Book Now</ion-button>
                       </ion-list>
                        
                       </ion-card>             
                  <!-- </ion-col> -->
                </ion-row>

                <ion-row  justify-content-center>
                    <!-- <ion-col col-6 align-self-center > -->
                        <ion-card style="margin-bottom: 25px;">
                         <ion-img style="    float: left;
                         width: 50%;" src="/assets/kgf.jpg"></ion-img>
                         <p style="    margin-top: 50px;" text-center><b style="color:#dd4f37">KGF</b></p>
                         <ion-list class="p-l">
                            <ion-icon name="star"></ion-icon><ion-icon name="star">
                          </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                          <ion-icon name="star-outline"></ion-icon>
                          <ion-button class="m-l" (click)="onBook()">Book Now</ion-button>
                        </ion-list>
                         
                        </ion-card>            
                         
                      <!-- </ion-col> -->
                      <!-- <ion-col col-6 align-self-center > -->
                        <ion-card style="margin-bottom: 25px;">
                          <ion-img style="    float: left;
                          width: 50%;" src="/assets/Ugramm.jpg"></ion-img>
                          <p style="    margin-top: 50px;" text-center><b style="color:#dd4f37">Ugramm</b></p>
                          <ion-list class="p-l">
                              <ion-icon name="star"></ion-icon><ion-icon name="star">
                            </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-button class="m-l" (click)="onBook()">Book Now</ion-button>
                          </ion-list>
                         
                          </ion-card>
                        <!-- </ion-col> -->
                      </ion-row>
          
          </ion-grid>
</ion-content>


 
