ion-button{
    --background: rgb(224, 89, 10);
}


ion-content{
    --background: url('/assets/loginbg.png');
    --color:#fff;
    opacity: 0.9;
    --background-size:cover;
    --background-position:center;
    
}