
<ion-content class="cl" color="" padding> 

        <!-- <div>
          <ion-button  style="width: 45%;--background:#fff;
          --color: #af13f7;"size="large"   expand="medium" (click)="onLogin()">SignIn</ion-button>
          <ion-button  style="width: 45%;--background:#fff;
          --color: #af13f7;"size="large"  expand="medium" (click)="onRegister()">Rgister</ion-button>
        </div> -->
        <div text-center style="position: relative;
        top: 25%;">
          <ion-img style="width: 40%;
          margin: 0px auto;"src="/assets/logo.png"></ion-img>
          <ion-img (click)="onlogin()" src="/assets/click.gif"></ion-img>
        </div>
        

</ion-content>
